@font-face {
  font-family: "Geneva";
  src: url("../fonts/geneva/Geneva.ttf");
}

@font-face {
  font-family: "Antonio";
  src: url("../fonts/antonio/Antonio-Bold.ttf");
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Geneva", sans-serif;
}

.material-icons {
  font-family: 'Material Icons' !important;
}

.tabla {
  width: auto;
}

.nav {
  padding: 0.5rem;
  background-color: #fff;
}

.logo {
  width: 40%;
}

.logop{
  max-width: 200px;
}

.banner {
  width: 100%;
}

.cinta {
  margin-top: 1rem;
  background: linear-gradient(to bottom, #30a8d4, #0155a8);
  padding: 0.5rem;
  color: #fff;
}

.title {
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Antonio", sans-serif !important;
}

.botones {
  font-family: "Antonio", sans-serif !important;
  font-weight: 900;
}

.body {
  font-size: 18px;
  text-align: left;
}

.numero {
  font-size: 2rem;
  font-weight: bold;
  padding-top: 5px;
}

.paqueteria {
  width: 80%;
  cursor: pointer;
}

.des {
  font-size: 1.5rem;
}

.naranja {
  background-color: rgba(241, 140, 2, 0.3);
  text-align: left;
  padding-left: 1rem;
  width: 90%;
  margin: 0 auto;
}

.azul {
  background-color: rgba(23, 125, 190, 0.3);
  text-align: left;
  padding-left: 1rem;
  width: 90%;
  margin: 0 auto;
}

.bott {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.boton {
  background-color: #f19202;
  color: #000;
  font-weight: bold;
  letter-spacing: 0;
  font-size: 1.5rem;
  border-radius: 10px;
}

.boton:hover {
  background-color: #ba7102;
}

.botona {
  background-color: #177dbe;
  color: #000;
  font-weight: bold;
  letter-spacing: 0;
  font-size: 1.5rem;
  border-radius: 10px;
}

.botona:hover {
  background-color: #0f5480;
}

.back {
  text-align: left;
  margin-left: 1rem;
  margin-top: 0.5rem;
}

.back a {
  color: #000;
}

body {
  background: #f5f6f7;
  font-family: "Nunito", sans-serif;
}

.content {
  margin: 0 auto;
}

.active-animate {
  animation: moveRight 1s;
}

.inactive-animate {
  display: block;
  animation: moveLeft 1s;
}

.pasos {
  background-image: url("../img/mapa.jpg");
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
}

.step {
  box-sizing: content-box;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #fff;
  min-height: 60%;
  max-height: 88%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.step::-webkit-scrollbar {
  display: none;
}

.encabezado {
  font-weight: bold;
  font-size: 1.5rem;
}

.leyenda {
  font-size: 12px;
  text-align: center;
}

.centrado {
  width: 80%;
  margin: 0 auto !important;
  padding: 1rem;
}

.no-padding {
  padding: 0 !important;
  margin: 0;
}

.selected {
  border: #039be5 solid 2px;
  background-color: rgba(3, 155, 229, 0.1);
}

.paq {
  cursor: pointer;
}

.box {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@keyframes moveRight {
  0% {
    transform: translateX(-27rem) scale(0.9);
    opacity: 0;
  }
  100% {
    transform: translateX(0rem) scale(1);
    opacity: 1;
  }
}

@keyframes moveLeft {
  0% {
    transform: translateX(0rem) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(27rem) scale(0.9);
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 900px) {
  .tabla {
    width: 100% !important;
  }

  .body {
    text-align: justify;
  }

  .numero {
    font-size: 1.75rem;
  }

  .des {
    font-size: 1.25rem;
  }
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#modal1{
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.14);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.14);
  background-color: transparent !important;
}

