@font-face {
  font-family: "Geneva";
  src: url("../fonts/geneva/Geneva.ttf");
}

@font-face {
  font-family: "Antonio";
  src: url("../fonts/antonio/Antonio-Bold.ttf");
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Geneva", sans-serif !important;
}

.nav{
  padding: .5rem;
    background-color: #fff;
}

.logo{
  width: 40%;
}

.banner{
  width: 100%;
}

.cinta{
  margin-top: 1rem;
    background:linear-gradient(to bottom, #30a8d4, #0155a8);
    padding: .5rem;
    color: #fff;
}

.title{
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Antonio", sans-serif !important;
}

.botones{
  font-family: "Antonio", sans-serif !important;
  font-weight: 900;
}

.body{
  font-size: 18px;
  text-align: left;
}

.numero{
  font-size: 2rem;
  font-weight: bold;
  padding-top: 5px;
}

.paqueteria{
  width: 50%;
  cursor: pointer;
}

.des{
  font-size: 1.5rem;
}

.naranja{
  background-color: rgba(241, 140, 2, 0.3);
  text-align: left;
}

.azul{
  background-color: rgba(23, 125, 190, 0.3);
  text-align: left;
}

.boton{
  background-color: #f19202;
  color: #000;
  font-weight: bold;
  letter-spacing: 0;
  font-size: 1.5rem;
  border-radius: 10px;
}

.boton:hover {
  background-color: #ba7102;
}

.back{
    text-align: left;
    margin-left: 1rem;
    margin-top: .5rem;
}

.back a{
    color: #000;
}

body {
  background: #f5f6f7;
  font-family: "Nunito", sans-serif;
}

.content{
    margin: 0 auto;
}

  .active-animate {
    animation: moveRight 1s;
  }

  .inactive-animate {
    display: block;
    animation: moveLeft 1s;
  }

  .pasos{
    background-image: url('../img/mapa.jpg');
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
  }

  .step{
    box-sizing: content-box;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #fff;
    min-height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .encabezado{
      font-weight: bold;
      font-size: 1.5rem;
  }

  .centrado{
      width: 80%;
      margin: 0 auto !important;
      padding: 1rem;
  }

  .no-padding{
      padding: 0 !important;
      margin: 0;
  }

  .selected{
      border: #039be5 solid 2px;
      background-color: rgba(3, 155, 229, 0.1);
  }

  .paq{
    cursor: pointer;
  }  

  .box{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  @keyframes moveRight {
    0% {
      transform: translateX(-27rem) scale(0.9);
      opacity: 0;
    }
    100% {
      transform: translateX(0rem) scale(1);
      opacity: 1;
    }
  }
  
  @keyframes moveLeft {
    0% {
      transform: translateX(0rem) scale(1);
      opacity: 1;
    }
    100% {
      transform: translateX(27rem) scale(0.9);
      opacity: 0;
    }
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  